
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@font-face {
    font-family: 'doca' ;
    src: url(../fonts/DOCALLISME\ ON\ STREET.ttf) format('truetype'), 
     url(../fonts/docallismeonstreet.otf) format('opentype') ;

}


body{
    width: 100vw;
    height: auto;
    background: linear-gradient(179.58deg, #C3C7C8 18.85%, #A4A7A8 34.56%, #838687 51.21%);
}



/* Cabeçalho da pagina */

header {
    width: 100vw;
    height: auto;

    
    background: #c3c7c6;
    border-bottom: 1px solid #000000;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1.5vw;
    
}

.guia {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;

    text-align: center;
    color: #454747;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.imgperfil {
    display: block;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;      
}

.imgperfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header p {
    position: absolute;
    width: 15vw;
    height: 3.2vw;
    left: 9.7vw;
    top: 2.7vw;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #000000;
}



.cabecalho__logo {
    width: 8vw;
    height: 8vw;
    border-radius: 100%; 
}

/* --------------------------------------------Corpo da pagina----------------------------------------------*/

.corpo {
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
}
 .corpo__banner {
    align-self: center;

    width: 100%;
 }

.corpo__titulo {
    padding: 2vw 0 2vw 0;
    font-family: 'doca';
    font-style: normal;
    font-weight: 400;
    font-size: 5.5vw;
    line-height: 5.5vw;
}

.container{
    width: 100vw;
    display: grid;
    justify-items: center;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;

}

.container__conteudo {

    margin: 0 0 4vw 0;
    display: flex;
    justify-content: space-around;
    width: 14vw;
    height: 18vw;
    background: rgba(239, 239, 239, 0.8);
    border-radius: 0.4vw;
    display: flex;
    flex-direction: column;

}

.container__conteudo a {
  padding: 0 0 0 2vw;
}

.container__conteudo img{
    align-self: center;

    width: 12vw;
    height: 11vw;
    border-radius: 1.6vw;
    margin: 1vw 0 0 0 ;
}

.container__conteudo  h1{
    padding: 1vw 0 0 0;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.5vw;
    color: #151414;
}

.container__conteudo  h2 {

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 1.5vw;

color: #151414;
}

.caixa{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.caixa__button {
    

    box-sizing: border-box;
    width: 12vw;
    height: 3vw;
    border: 1px solid #454747;
    border-radius: 8px;


}
 
.caixa__button h1 {
    width: 12vw;
    height: 3vw;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vw;
    line-height: 2.2vw;
    text-align: center;

    color: #454747;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/*  Um botão que queria colocar mas nn deu certo, inclusive uma duvida 

.corpo__eclipse {   
    justify-items: center;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;  
    background: #A8ACAD;
}

.corpo__img {

    height: 2.2vw;
    width: 2.2vw;
}
*/


/* Rodapé*/

footer{

    padding: 2vw;
    height: auto;
    background: #454747;
}

.rodape {
    display: flex;
    justify-content: space-between;

}

.rodape__links {
    
    box-sizing: border-box;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 29px;
    color: #EFEFEF;
    text-shadow: -2px 4px 4px rgba(239, 239, 239, 0.25);
  
}

.redes {
    display: flex;
    justify-content: center;
}

.redes__box {
    display: flex;
    justify-content: space-around;
    

    margin: 2vw 0 0 0;
    width: 30vw;
    height: 3.5vw;
    background: #EFEFEF;
    border-radius: 16px;
}

.redes__icones {
    align-self: center;
    width: 3vw;
    height: 3vw;
}


/* -------------------------Cadastro------------------------- */

.corpoCadastro {
    width: 100vw;
    height: 67.9vw;

    background-image:url(../imagens/backgroundcadastro.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}



.corpoCadastro__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    width:56vw;
    height: auto;
    background: rgba(239, 239, 239, 0.8);
    border-radius: 48px;
    padding: 2vw 4vw;
}

.corpoCadastro__titulo {
    align-self: center;
    font-family: 'doca';
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
    line-height: 56px;
    color: #454747;
}

.corpoCadastro__box input {
    width: 42vw;
    height: auto;

    background-color: rgba(239, 239, 239, 0.7);
    border: none;
    border: 1px solid #838687;
    border-radius: 32px;
    padding: 0.5vw;
   
   font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 1vw;

    color: #000000;
    justify-items: center;

    margin: 1vw 0;
}

.ph::placeholder {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;

    color: #000000;
}

.corpoCadastro__box button{
    box-sizing: border-box;

    width: 15vw;
    height: auto;


    border: 1px solid #000000;
    border-radius: 32px;

    align-self: center;

    box-sizing: border-box;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 2.2vw;
    text-align: center;

    color: #454747;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*------------------------- LOGIN -------------------------*/

#loginBox {
    width: 54vw;
    height: auto;

    background: rgba(239, 239, 239, 0.8);
    border-radius: 48px;
}

#corpologin {
    width: 100vw;
    height: 40.9vw;

    background-image:url(../imagens/backgroundlogin.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*------------------------- Pagina de perfil de produto -------------------------*/

.caixona{
    display: flex;
}

.boxesquerdo {
    width: 37vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.boxesquerdo__1 {
    width: 400px;
    height: 480px;

    background: rgba(239, 239, 239, 0.8);
    border-radius: 8px;
    margin: 5vw 0 ;
    display: flex;
    flex-wrap: wrap;
}

#pp_principal {
    align-self: center;
    width: 320px;
    height: 320px;
    margin: 0 40px 40px;

    border-radius: 8px;
    }

.pp {
    width: 40px;
    height: 40px;
    margin: 0 13px;

    border-radius: 8px;
}

.boxesquerdo__2 {
    width: 400px;
    height: 480px;

    background: rgba(239, 239, 239, 0.8);
    border-radius: 8px;
    margin: 5vw 0 ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxesquerdo__2 h1 {
    width: 173px;
    height: 29px;


    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 29px;

    color: #000000;
   margin: 3vw 0;


}

.boxesquerdo__2 img{
    width: 320px;
    height: 320px;

    border-radius: 8px;
}


.boxdireito {
    width: 67vw;
    padding: 3vw;
}

.boxdireito h1 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    color: #000000;
    
    padding: 2vw 0;

}

.boxdireito h2{

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 29px;
    padding: 0.5vw;


    color: #000000;
}

.boxdireito input {
    box-sizing: border-box;

    width: 200px;
    height: 30px;
    background: rgba(217, 217, 217, 0.0);
    margin: 0.5vw 0 0.5vw 0 ;

    border-bottom: 1px solid #000000;
}
.ph1::placeholder{

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 51px;
    font-size: 1.2vw;

    color: #000000;
    padding: 0.5vw 0;
}

.frete {
    width: 465px;
    height: 264px;
    background: linear-gradient(111.81deg, #E6E7E7 0%, rgba(182, 182, 179, 0) 85.62%);
    border-radius: 32px; 
}

.pagamento {
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: space-between;
}


.pagamento__but {
    width: 172px;
    height: 83px;

    background: #EFEFEF;

    border-radius: 16px;
    border: 2px solid #454747;
}

.pagamento__but :hover{
    width: 70px;
    height: 70px;
}



.pagamento__but--img {
    width: 66px;
    height: 66px;
}

.pagamento__div {
    width: auto;
    height: 264px;
    background: #EFEFEF;
    border-radius: 32px; 

    grid-column: 1 / 4;
    margin: 5vh 0 0 0;
}


/*------------------------- Menu Lateral -------------------------*/ 

.menulateral {
    position: absolute;
    left: 64vw;
    top: 0%;


    background: rgba(254, 244, 244, 0.21);
    box-shadow: -8px 16px 4px rgba(0, 0, 0, 0.1);
    border-radius: 32px;

    
    width: 36vw;
    padding: 1vw;
    

    background: #EFEFEF;
    border-radius: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 1s;
}
.menulateral--desativado {
    
    position: absolute;
    left: 200vw;
    top: 0%;
    
    background: rgba(254, 244, 244, 0.21);
    box-shadow: -8px 16px 4px rgba(0, 0, 0, 0.1);
    border-radius: 32px;

    
    width: 36vw;
    padding: 1vw;
    

    background: #EFEFEF;
    border-radius: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



.menulateral h1 {
    font-family: 'doca';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    color: #454747;
    width: 30vw ;
    align-self: center;
}

.menulateral__button {
    align-self: center;
}

.menulateral__lista {
    margin: 2vh 0 ;
}


.menulateral__lista--item {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 2vh 0 ;
}

.menulateral__lista--img {
    grid-column: 1;
}

.menulateral__lista--div {
    grid-column: 2;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 

.menulateral__lista--div {
    padding: 0 0 0 2vw;
    width: 20vw;
} 

.menulateral__lista--div h4 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.menulateral__lista--div h3 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}



.menulateral__lista--icone {
    grid-column: 3;
    align-self: center;
}

.menulateral h2 {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.menulateral__inpcep {
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    background: rgba(217, 217, 217, 0.02);
    margin: 0 0 0 2vw;
    }

    .menulateral__inpcep ::placeholder{
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 29px;
        color: #000000;
    }

#opfretes {
    width: 34vw;
    margin: 3vw 0 0 0 ;
}

.menulateral__divfrete {
    width: 34vw;
    height: 7vh;

    background: linear-gradient(111.81deg,
     rgba(131, 134, 135, 0.4) 0%,
      rgba(182, 182, 179, 0) 85.62%);
    border-radius: 32px;
}

.menulateral__butfinal {
    box-sizing: border-box;
    border: 1px solid #454747;
    border-radius: 32px;
    width: 15vw;
    margin: 3vh 0;
    
}

.menulateral__butfinal--texto {
    box-sizing: border-box;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    color: #454747;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

