
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@font-face {
    font-family: 'doca' ;
    src: url(../fonts/DOCALLISME\ ON\ STREET.ttf) format('truetype'), 
     url(../fonts/docallismeonstreet.otf) format('opentype') ;

}


body{
    width: 100%;
    height: 100%;
    background: linear-gradient(179.58deg, #C3C7C8 18.85%, #A4A7A8 34.56%, #838687 51.21%);
}


/* Cabeçalho da pagina */

header {
    width: 100%;
    height: 174px;
    left: 0px;
    top: 0px;
    
    background: #c3c7c6;
    border-bottom: 1px solid #000000;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    
}

.guia {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #454747;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.imgperfil {
    display: block;
    border-radius: 50%;
    width: 80px;
    height: 80px;      
}

.imgperfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header p {
    position: absolute;
    width: 15vw;
    height: 3.2vw;
    left: 9.7vw;
    top: 2.7vw;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.5vw;
    color: #000000;
}



.cabecalho__logo {

    width: 157px;
    height: 157px;
    left: 642px;
    top: 9px;
    border-radius: 100%;

    
}


/* Menu lateral*/




/* Corpo da pagina*/

.corpo {
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
}
 .corpo__banner {
    align-self: center;

    width: 100%;
 }

.corpo__titulo {
    padding: 2vw 0 2vw 0;
    font-family: 'doca';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    width: 100vw;

}

.container{
    width: 100%;
    display: grid;
    justify-items: center;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;

}

.container__conteudo {

    margin: 0 0 4vw 0;
    display: flex;
    justify-content: space-around;
    width: 14vw;
    height: 18vw;
    background: rgba(239, 239, 239, 0.8);
    border-radius: 0.4vw;
    display: flex;
    flex-direction: column;

}

.container__conteudo img{
    align-self: center;

    width: 12vw;
    height: 11vw;
    border-radius: 1.6vw;
    margin: 1vw 0 0 0 ;
}

.container__conteudo h1{
    padding: 1vw 0 0 0;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 1.5vw;
    color: #151414;
}

.container__conteudo h2 {

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 1.5vw;

color: #151414;
}

.caixa{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.caixa__button {
    

    box-sizing: border-box;
    width: 240px;
    height: 40px;
    border: 1px solid #454747;
    border-radius: 8px;


}

.caixa__button h1 {
    width: 241px;
    height: 40px;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #454747;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/*  Um botão que queria colocar mas nn deu certo, inclusive uma duvida 

.corpo__eclipse {   
    justify-items: center;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;  
    background: #A8ACAD;
}

.corpo__img {

    height: 2.2vw;
    width: 2.2vw;
}
*/


/* Rodapé*/

footer{
    height: 328px;
    background: #454747;
}

.rodape {
    display: flex;
    justify-content: space-between;
    padding: 1vw 2vw;

}

.rodape__links {
    
    box-sizing: border-box;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #EFEFEF;
    text-shadow: -2px 4px 4px rgba(239, 239, 239, 0.25);
  
}

.redes {
    display: flex;
    justify-content: center;
}

.redes__box {
    display: flex;
    justify-content: space-around;
    

    margin: 2vw 0 0 0;
    width: 400px;
    height: 64px;
    background: #EFEFEF;
    border-radius: 16px;
}

.redes__icones {
    align-self: center;
    width: 50px;
    height: 50px;
}


/* Cadastro */

.corpoCadastro {
    width: 100vw;
    height: 67.9vw;

    background-image:url(../imagens/backgroundcadastro.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}



.corpoCadastro__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    width: 722px;
    height: 675px;
    background: rgba(239, 239, 239, 0.8);
    border-radius: 48px;
    padding: 2vw 4vw;
}

.corpoCadastro__titulo {
    align-self: center;
    font-family: 'doca';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    color: #454747;
}

.corpoCadastro__box input {
    width: 580px;
    height: 48px;

    background-color: rgba(239, 239, 239, 0.8);
    border: none;
    border: 1px solid #838687;
    border-radius: 32px;
    padding: 0.5vw;
   
   font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 51px;

    color: #000000;
}

.ph::placeholder {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 51px;

    color: #000000;
}

.corpoCadastro__box button{
    box-sizing: border-box;

    width: 240px;
    height: 40px;


    border: 1px solid #000000;
    border-radius: 32px;

    align-self: center;

    box-sizing: border-box;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #454747;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#loginBox {
    width: 722px;
    height: 400px;

    background: rgba(239, 239, 239, 0.8);
    border-radius: 48px;
}

#corpologin {
    width: 100vw;
    height: 67.9vw;

    background-image:url(../imagens/backgroundlogin.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
