
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@font-face {
    font-family: 'DOCALLISME ON STREET' ;
    src: url('fonts/DOCALLISME ON STREET.ttf') format('truetype');

}


body{
    width: 100%;
    height: 4000px;
    background: linear-gradient(179.58deg, #C3C7C8 18.85%, #A4A7A8 34.56%, #838687 51.21%);
}


/* Cabeçalho da pagina */

header {
    width: 100%;
    height: 174px;
    left: 0px;
    top: 0px;
    
    background: #c3c7c6;
    border-bottom: 1px solid #000000;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    
}

.guia {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #454747;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.imgperfil {
    display: block;
    border-radius: 50%;
    width: 80px;
    height: 80px;      
}

.imgperfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header p {
    position: absolute;
    width: 247px;
    height: 62px;
    left: 169px;
    top: 56px;
    
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}



.cabecalho__logo {

    width: 157px;
    height: 157px;
    left: 642px;
    top: 9px;
    border-radius: 100%;

    
}


/* Menu lateral*/




/* Corpo da pagina*/
article{
    padding: 2vw;
}

.corpo {
    display: flex;
    flex-wrap: wrap;
}
 .corpo__banner {
    align-self: center;

    width: 100%;
 }

.corpo__titulo {
    padding: 2vw 0 0 0;
    font-family: 'DOCALLISME ON STREET','Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;

}

/* Rodapé*/

